<?xml version="1.0"?>
<model>
  <name>Robo Desviante</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Daniel Melo</name>
   <email>danielsmelo1994@gmail.com</email>
  </author>

  <description>
    Trabalho disciplina do Ramos, carrinho que desvia de obstaculos
  </description>
</model>